/* start variables  */
:root {
    --main-color : #ffe600;
    --secondary-color : #334752;
    --text-color: #637988;
    --section-padding: 75px
}
/* end variables  */
/* start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end Global rules */
/* start component */
.special-heading {
    text-align: center;
    width: 750px;
    max-width: 100%;
    margin: auto;
}
.special-heading h2 {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2c4755;
}
@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 50px;
    }
}
.special-heading h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 13px;
    background-image: url(../images/svg/separator.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 34px;
}
.special-heading h2 + p {
    color: var(--text-color);
    line-height: 1.3;
    font-size: 15px;
    margin-top: 34px;
    margin-bottom: 100px;
}
/* end component */
/* start header */
header {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    width: 100%;
    max-height: 104px;
    z-index: 2;
}
header nav {
    display: flex;
    align-items: center;
}
/* @media (max-width: 767px) {
    header nav {
        display: block;
    }
} */
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    transition: 0.3s;
    background-color: #FFF;
}
header nav ul li {
    padding: 25px 0;
}
@media (max-width: 767px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0 ;
        top: -550%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    header nav ul li {
        width: 100%;
    }
}
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 600;
}
header nav ul li:first-child a {
    color: var(--main-color);
}
header nav ul li:hover a {
    color: var(--main-color);
}
@media (max-width: 767px) {
    header nav ul li.logo-lg {
        display: none;
    }
}

header nav .logo-sm {
    display: none;
}
@media (max-width: 767px) {
    header nav .logo-sm {
        display: inline-block;
        position: relative;
        padding: 25px 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
    }
}
header .menu {
    display: flex;
    flex-wrap: wrap;
    width: 25px;
    box-sizing: content-box;
    padding: 30px;
    z-index: 3;
}
header .menu:hover + ul {
    top: 100%;
}
@media (max-width: 767px) {
    header .menu {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (min-width: 768px) {
    header .menu {
        display: none;
    }
} 
header .menu span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    transition: transform 0.4s;
}
header .menu span:first-child{
    transform-origin: 10% 10%;
}
header .menu span:last-child {
    transform-origin: 10% 90%;
}
header .menu:hover span:first-child {
    transform: rotate(45deg);
    background-color: var(--main-color);
}
header .menu:hover span:last-child {
    transform: rotate(-45deg);
    background-color: var(--main-color);
}
header .menu:hover span:nth-child(2) {
    opacity: 0;
}

/* start header */
/* start main */
main {
    min-height: calc(100vh);
    position: relative;
    background-image: url(../images/slider_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(50, 70, 81, 0.9);
}
main .text {
    color: #FFF;
    position: absolute;
    z-index: 1;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50% , -50%);
    max-width: 100%;
    text-align: center;
}
@media (max-width: 767px) {
    main .text {
        width: 100%;
        padding: 20px;
    }
}
main .text h4 {
    font-size: 20px;
    font-weight: 400;
}
main .text h4 span {
    color: var(--main-color);
}
main .text h1 {
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 600;
    margin: 30px 0 15px;
}
@media (max-width: 767px) {
    main .text h1 {
        font-size: 55px;
    }
}
main .text p {
    line-height: 1.4;
    font-size: 15px;
}
main .text a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 25px auto;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
main .text a:hover {
    color: #FFF;
    background-color: var(--main-color);
    border: 2px solid #FFF;
}

main ul.bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
main ul.bullets li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 50%;
}
main ul.bullets li:nth-of-type(2) {
    background-color: var(--main-color);
}
/* end main */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .srv-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(230px, 1fr));
    gap: 30px;
    text-align: center;
    margin-bottom: var(--section-padding);
}
.services .srv-boxes .srv  {
    position: relative;
}
.services .srv-boxes .srv div {
    width: 80%;
    margin: auto;
}
/* .srv-boxes .srv:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 168px;
    left: 74%;
    top: 21%;
    background-color: var(--main-color);
} */
.services .srv-boxes .srv h4 {
    color: var(--secondary-color);
    margin: 30px 0;
}
.services .srv-boxes .srv p {
    color: var(--text-color);
    line-height: 1.4;
    font-size: 16px;
}
.services .srv-info {
    padding-top: calc( var(--section-padding) / 2);
    padding-bottom: calc( var(--section-padding) / 2);
    background-image: url(../images/services_background.png);
    background-size: cover;
    position: relative;
}
.services .srv-info::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(50, 70, 81, 0.9);
}
.services .srv-info .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}
/* @media (max-width: 991px) {
    .services .srv-info .container {
        flex-direction: column;
    }
} */
.services .srv-info .container .image  {
    position: relative;
    text-align: center;
    top: 80px;
}
.services .srv-info .container .image img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .services .srv-info .container .image img {
        width: 70%;
    }
}
@media (max-width: 991px) {
    .services .srv-info .container .image {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        order: 2;
        top: 0;
    }
}
.services .srv-info .container .text {
    flex: 1;
    max-width: 100%;
    color: #FFF;
    margin-top: 80px;
    margin-left: 50px;
}
@media (max-width: 767px) {
    .services .srv-info .container .text {
        margin: 0;
    }
}
.services .srv-info .container .text h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 40px ;
}
.services .srv-info .container .text p {
    line-height: 1.5;
    font-size: 15px;
}
.services .srv-info .container .text ul {
    padding-top: 40px;
    padding-left: 35px;
}
.services .srv-info .container .text ul li {
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
}
.services .srv-info .container .text ul li::before {
    content: '';
    position: absolute;
    background-image: url(../images/svg/circle_plus.svg);
    background-size: cover;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -10px;
}
.services .button {
    background-color: var(--main-color);
    padding: 40px;
    text-align: center;
}
.services .button a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin:  auto;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid var(--main-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.services .button a:hover {
    color: #FFF;
    background-color: var(--main-color);
    border: 2px solid #FFF;

}
/* end services */
/* start portfolio */
.portfolio ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .portfolio ul {
        flex-direction: column;
        align-items: center;
    }
}
.portfolio ul li {
    padding: 10px 20px;
    margin: 0 5px 10px;
    color: var(--secondary-color);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: 150ms;
}
.portfolio ul li:first-child {
    background-color: var(--main-color);
    color: #FFF;
}
.portfolio ul li:hover {
    color: var(--main-color);
}
.portfolio .portfolio-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px , 1fr));
    column-gap: 30px;
}
.portfolio .portfolio-images .image {
    margin-bottom: 30px;
}
.portfolio .portfolio-images .image img {
    width: 100%;
    max-width: 100%;
}
.portfolio a {
    display: block;
    width: fit-content;
    padding: 12px 30px;
    margin: 20px auto 40px;
    color: #FFF;
    background-color: var(--main-color);
    border: 1px solid #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.portfolio a:hover {
    color: var(--main-color);
    background-color: #FFF;
    border: 1px solid var(--main-color);
}
/* end portfolio */
/* start video */
.video {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
}
.video .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.video .video-play {
    height: 310px;
    min-width: 300px;
    flex: 1;
}
@media (max-width: 767px) {
    .video .video-play  {
        height: 200px;
    }
}
.video .video-play iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.video .content {
    flex-basis: 600px;
    padding: 0 30px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .video .content {
        flex-basis: 100%;
        padding: 0;
        margin-top: 60px;
    }
}
.video .content .text h4{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 20px
}
.video .content .text p:first-of-type{
    color: var(--text-color);
    font-size: 14px;
    margin: 20px 0;
}
.video .content .text p {
    color: #FFF;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 15px;
}
.video .content a {
    color: var(--secondary-color);
    display: block;
    width: fit-content;
    text-decoration: none;
    background: #FFF;
    padding: 13px 30px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s;
}
.video .content a:hover {
    color: #FFF;
    background-color: var(--secondary-color);
}
@media (max-width: 767px) {
    .video .content a {
        margin: 40px auto 0;
    }
}
/* end video */
/* start order */
.order {
    padding-top: var(--section-padding);
    background-color: var(--secondary-color);
    overflow: hidden;
}
.order .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.order .container .text {
    text-align: center;
}
.order  .text h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.order  .text p {
    font-size: 15px;
    margin: 15px 0 30px 0 ;
}
@media (max-width: 767px) {
    .order  .text h3 {
        font-size: 31px;
    }
}
.order .text a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 30px  auto 0;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid var(--main-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.order .text a:hover {
    color: #FFF;
    background-color: var(--main-color);
}
.order .image {
    position: relative;
    top: 80px;
}
@media (max-width: 767px) {
    .order  .image {
        top: 0;
        margin-top: 40px;
    }
}
.order  .image img {
    max-width: 100%;
    width: 100%;
}
/* end order */
/* start about */
.about {
    padding-top: var(--section-padding);
}
.about .slider {
    display: flex;
    align-items: center;
    margin-top: -50px
}
@media (max-width: 991px) {
    .about .slider {
        flex-direction: column;
    }
}
.about .slider img {
    height: 400px;
}
.about .slider .content {
    padding: 0 50px;
}
@media (max-width: 991px) {
    .about .slider .content {
        padding: 30px 0;
    }
}
.about .slider .content h4 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}
.about .slider .content p:first-of-type {
    color: var(--secondary-color);
    margin: 15px 0 30px ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
@media (max-width: 991px) {
    .about .slider .content h4,
    .about .slider .content p:first-of-type {
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
    }
}
.about .slider .content p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.about .slider .content ul {
    display: flex;
    margin-top: 20px
}
@media (max-width: 991px) {
    .about .slider .content ul {
        justify-content: center;
    }
}
.about .slider .content ul li:first-child a {
    width: 34px;
    padding: 9.5px;
}
.about .slider .content ul a {
    display: block;
    width: fit-content;
    height: fit-content;
    color: #324651;
    background: #fafafa;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-out;
    font-size: 12px;
}
.about .slider .content ul a:hover {
    background-color: var(--main-color);
    color: #FFF;
}
/* end about */
/* start testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
}
.testimonials .container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 50px;
}
.testimonials .container > div {
    max-width: 100%;
}
.testimonials  div > h3 {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 20px;
} 
.testimonials .prog-holder {
    margin-bottom: 20px;   
}
.testimonials .prog-holder h5 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
}
.testimonials .prog-holder .prog {
    width: 100%;
    height: 15px;
    background-color: #FFF;
    border-radius: 30px;
}
.testimonials .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    border-radius: 30px;
    position: relative;
}
.testimonials .prog-holder .prog span:after {
    content: attr(data-prog);
    position: absolute;
    right: 0;
    top: -30px;
    background-color: var(--text-color);
    color: var(--main-color);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 3px;
}
.testimonials .prog-holder .prog span::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: var(--text-color) transparent transparent;
    right: 10px;
    top: -10px;
}
.testimonials .about-company p {
    color: #FFF;
    line-height: 1.6;
    font-size: 15px;
    margin: 20px 0;
}
/* end testimonials */
/* start blog  */
.blog {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.blog .container  {
    display: grid;
    grid-template-columns:   repeat(6, 1fr);
    gap : 30px;
}
 .blog .container   .box:first-of-type {
   grid-column:  1  /  4;
}
.blog .container  .box:nth-child(2) {
    grid-column: 4 / 7;
} 
.blog .container .box {
    grid-column: span 2;
    border-bottom: 2px solid #c2cfd7;
}
@media (max-width: 991px) {
    .blog .container {
        grid-template-columns:   repeat(auto-fill, minmax(250px , 1fr))
    }
    .blog .container .box {
        grid-column: span 1 !important;
    }
}
.blog .container .box .image {
    width: 100%;
}
.blog .container .box .image  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .blog .container .box .image {
        height: 150px;
    }
}
.blog .container .content {
    padding: 25px;
}
.blog .container .content h4 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
}

.blog .container .content p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.5;
}
.blog .container .content > p {
    font-size: 11px;
    margin-top: 10px;
    
}
.blog .container .content p span {
    color: var(--main-color);
}
.blog .container .content .text {
    margin-top: 20px ;
}
.blog .container .content .text a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 600;
}
.blog .container .content h4:hover , 
.blog .container .content p span:hover , 
.blog .container .content .text a:hover {
    color: var(--text-color);
}
.blog > a {
    display: block;
    width: fit-content;
    padding: 12px 30px;
    margin: 40px auto  0;
    color: #FFF;
    background-color: var(--main-color);
    border: 1px solid #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.blog > a:hover {
    color: var(--main-color);
    background-color: #FFF;
    border: 1px solid var(--main-color);
}
/* end blog  */
/* start subs  */
.subs {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
    text-align: center;
    color: #FFF;
}
.subs h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.subs form {
    margin: 0 auto;
}
.subs input[type='email']:focus,
.subs input[type='submit']:focus {
    outline: none;
}
.subs input[type='email'] {
    width: 450px;
    padding: 13px 25px;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
    margin-right: 20px;
    max-width: 100%;
}
.subs input[type='email']::placeholder {
    font-style: italic;
}
@media (max-width: 767px) {
    .subs input[type='email'] {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
.subs input[type='submit'] {
    padding: 13px 25px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    background-color: #FFF;
    color: var(--secondary-color);
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #FFF;
    transition: 0.3s;
}
.subs input[type='submit']:hover {
    background-color: var(--secondary-color);
    color: #FFF;
}
/* end subs  */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
}
.contact .special-heading h2 ,
.contact .special-heading p {
    color: #FFF !important;
}
.contact form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.contact form input,
.contact form textarea  {
    padding: 18px 26px;
    border: 1px solid #FFF;
    background: none;
    border-radius: 5px;
}
.contact form input:focus,
.contact form textarea:focus  {
    outline: none;
}
.contact form input::placeholder,
.contact form textarea::placeholder  {
    color: rgba(255, 255, 255, 0.61);
    text-transform: capitalize;
    font-size: 15px;
}
.contact form .message {
    grid-column: span 3;
    resize: none;
    height: 220px;
}
@media (max-width: 991px) {
    .contact form {
        display: flex;
        flex-direction: column;
    }
}
.contact form button {
    grid-column: 2;
    padding: 13px 25px;
    width: fit-content;
    margin: 20px auto 0;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    background-color: #FFF;
    color: var(--secondary-color);
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #FFF;
    transition: 0.3s;
}
.contact form button:hover {
    background-color: var(--secondary-color);
    color: #FFF;
}
/* end contact */
/* start footer */
footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #182227;
    color: #FFF;
    text-align: center;
}
footer p {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: normal;
}
footer p span {
    color: var(--main-color);
}
footer p:last-of-type {
    font-size: 14px;
}
footer ul {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer ul li {
    margin-right: 15px;
    margin-left: 15px;
}
@media (max-width: 767px ) {
    footer ul li {
        margin-right: 5px;
        margin-left: 5px;
    }
}
footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #FFF;
    border: 1px solid #fff;
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.3s;
}
footer ul li a:hover {
    background-color: var(--main-color);
    color: #FFF;
}
/* end footer */