/* start variables  */
:root {
    --main-color : #ffe600;
    --secondary-color : #334752;
    --text-color: #637988;
    --section-padding: 75px
}
/* end variables  */
/* start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end Global rules */
/* start component */
.special-heading {
    text-align: center;
    width: 750px;
    max-width: 100%;
    margin: auto;
}
.special-heading h2 {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2c4755;
}
@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 50px;
    }
}
.special-heading h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 13px;
    background-image: url(../images/svg/separator.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 34px;
}
.special-heading h2 + p {
    color: var(--text-color);
    line-height: 1.3;
    font-size: 15px;
    margin-top: 34px;
    margin-bottom: 100px;
}
/* end component */
/* start header */
header {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    width: 100%;
    max-height: 104px;
    z-index: 2;
}
header nav {
    display: flex;
    align-items: center;
}
/* @media (max-width: 767px) {
    header nav {
        display: block;
    }
} */
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    transition: 0.3s;
    background-color: #FFF;
}
header nav ul li {
    padding: 25px 0;
}
@media (max-width: 767px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0 ;
        top: -550%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    header nav ul li {
        width: 100%;
    }
}
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 600;
}
header nav ul li:first-child a {
    color: var(--main-color);
}
header nav ul li:hover a {
    color: var(--main-color);
}
@media (max-width: 767px) {
    header nav ul li.logo-lg {
        display: none;
    }
}

header nav .logo-sm {
    display: none;
}
@media (max-width: 767px) {
    header nav .logo-sm {
        display: inline-block;
        position: relative;
        padding: 25px 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
    }
}
header .menu {
    display: flex;
    flex-wrap: wrap;
    width: 25px;
    box-sizing: content-box;
    padding: 30px;
    z-index: 3;
}
header .menu:hover + ul {
    top: 100%;
}
@media (max-width: 767px) {
    header .menu {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (min-width: 768px) {
    header .menu {
        display: none;
    }
} 
header .menu span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    transition: transform 0.4s;
}
header .menu span:first-child{
    transform-origin: 10% 10%;
}
header .menu span:last-child {
    transform-origin: 10% 90%;
}
header .menu:hover span:first-child {
    transform: rotate(45deg);
    background-color: var(--main-color);
}
header .menu:hover span:last-child {
    transform: rotate(-45deg);
    background-color: var(--main-color);
}
header .menu:hover span:nth-child(2) {
    opacity: 0;
}

/* start header */
/* start main */
main {
    min-height: calc(100vh);
    position: relative;
    background-image: url(../images/slider_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(50, 70, 81, 0.9);
}
main .text {
    color: #FFF;
    position: absolute;
    z-index: 1;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50% , -50%);
    max-width: 100%;
    text-align: center;
}
@media (max-width: 767px) {
    main .text {
        width: 100%;
        padding: 20px;
    }
}
main .text h4 {
    font-size: 20px;
    font-weight: 400;
}
main .text h4 span {
    color: var(--main-color);
}
main .text h1 {
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 600;
    margin: 30px 0 15px;
}
@media (max-width: 767px) {
    main .text h1 {
        font-size: 55px;
    }
}
main .text p {
    line-height: 1.4;
    font-size: 15px;
}
main .text a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 25px auto;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
main .text a:hover {
    color: #FFF;
    background-color: var(--main-color);
    border: 2px solid #FFF;
}

main ul.bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
main ul.bullets li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 50%;
}
main ul.bullets li:nth-of-type(2) {
    background-color: var(--main-color);
}
/* end main */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .srv-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(230px, 1fr));
    gap: 30px;
    text-align: center;
    margin-bottom: var(--section-padding);
}
.services .srv-boxes .srv  {
    position: relative;
}
.services .srv-boxes .srv div {
    width: 80%;
    margin: auto;
}
/* .srv-boxes .srv:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 168px;
    left: 74%;
    top: 21%;
    background-color: var(--main-color);
} */
.services .srv-boxes .srv h4 {
    color: var(--secondary-color);
    margin: 30px 0;
}
.services .srv-boxes .srv p {
    color: var(--text-color);
    line-height: 1.4;
    font-size: 16px;
}
.services .srv-info {
    padding-top: calc( var(--section-padding) / 2);
    padding-bottom: calc( var(--section-padding) / 2);
    background-image: url(../images/services_background.png);
    background-size: cover;
    position: relative;
}
.services .srv-info::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(50, 70, 81, 0.9);
}
.services .srv-info .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}
/* @media (max-width: 991px) {
    .services .srv-info .container {
        flex-direction: column;
    }
} */
.services .srv-info .container .image  {
    position: relative;
    text-align: center;
    top: 80px;
}
.services .srv-info .container .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .services .srv-info .container .image {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        order: 2;
        top: 0;
    }
}
.services .srv-info .container .text {
    flex: 1;
    max-width: 100%;
    color: #FFF;
    margin-top: 80px;
    margin-left: 50px;
}
@media (max-width: 767px) {
    .services .srv-info .container .text {
        margin: 0;
    }
}
.services .srv-info .container .text h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 40px ;
}
.services .srv-info .container .text p {
    line-height: 1.5;
    font-size: 15px;
}
.services .srv-info .container .text ul {
    padding-top: 40px;
    padding-left: 35px;
}
.services .srv-info .container .text ul li {
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
}
.services .srv-info .container .text ul li::before {
    content: '';
    position: absolute;
    background-image: url(../images/svg/circle_plus.svg);
    background-size: cover;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -10px;
}
.services .button {
    background-color: var(--main-color);
    padding: 40px;
    text-align: center;
}
.services .button a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin:  auto;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid var(--main-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.services .button a:hover {
    color: #FFF;
    background-color: var(--main-color);
    border: 2px solid #FFF;

}
/* end services */
/* start portfolio */
.portfolio ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .portfolio ul {
        flex-direction: column;
        align-items: center;
    }
}
.portfolio ul li {
    padding: 10px 20px;
    margin: 0 5px 10px;
    color: var(--secondary-color);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: 150ms;
}
.portfolio ul li:first-child {
    background-color: var(--main-color);
    color: #FFF;
}
.portfolio ul li:hover {
    color: var(--main-color);
}
.portfolio .portfolio-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px , 1fr));
    column-gap: 30px;
}
.portfolio .portfolio-images .image {
    margin-bottom: 30px;
}
.portfolio .portfolio-images .image img {
    width: 100%;
    max-width: 100%;
}
.portfolio a {
    display: block;
    width: fit-content;
    padding: 12px 30px;
    margin: 20px auto 40px;
    color: #FFF;
    background-color: var(--main-color);
    border: 1px solid #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.portfolio a:hover {
    color: var(--main-color);
    background-color: #FFF;
    border: 1px solid var(--main-color);
}
/* end portfolio */
/* start video */
.video {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
}
.video .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.video .video-play {
    height: 310px;
    min-width: 300px;
    flex: 1;
}
@media (max-width: 767px) {
    .video .video-play  {
        height: 200px;
    }
}
.video .video-play iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.video .content {
    flex-basis: 600px;
    padding: 0 30px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .video .content {
        flex-basis: 100%;
        padding: 0;
        margin-top: 60px;
    }
}
.video .content .text h4{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 20px
}
.video .content .text p:first-of-type{
    color: var(--text-color);
    font-size: 14px;
    margin: 20px 0;
}
.video .content .text p {
    color: #FFF;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 15px;
}
.video .content a {
    color: var(--secondary-color);
    display: block;
    width: fit-content;
    text-decoration: none;
    background: #FFF;
    padding: 13px 30px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s;
}
.video .content a:hover {
    color: #FFF;
    background-color: var(--secondary-color);
}
@media (max-width: 767px) {
    .video .content a {
        margin: 40px auto 0;
    }
}
/* end video */
/* start order */
.order {
    padding-top: var(--section-padding);
    background-color: var(--secondary-color);
    margin-bottom: 200px;
    overflow: hidden;
    
}
.order .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.order .container .text {
    text-align: center;
}
.order  .text h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.order  .text p {
    font-size: 15px;
    margin: 15px 0 30px 0 ;
}
@media (max-width: 767px) {
    .order  .text h3 {
        font-size: 31px;
    }
}
.order .text a {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 30px  auto 0;
    color: var(--main-color);
    background-color: #FFF;
    border: 2px solid var(--main-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
}
.order .text a:hover {
    color: #FFF;
    background-color: var(--main-color);
}
.order .image {
    position: relative;
    top: 80px;
}
@media (max-width: 767px) {
    .order  .image {
        top: 0;
        margin-top: 40px;
    }
}
.order  .image img {
    max-width: 100%;
    width: 100%;
}

/* end order */
